In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Bank_Imbalance.csv')

In [4]:
df.head()

,age,duration,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,44,210,1.4,93.444,-36.1,4.963,5228.1,1
1,53,138,-0.1,93.200,-42.0,4.021,5195.8,1
2,28,339,-1.7,94.055,-39.8,0.729,4991.6,1
3,39,185,-1.8,93.075,-47.1,1.405,5099.1,1
4,55,137,-2.9,92.201,-31.4,0.869,5076.2,1

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x = df.iloc[:,:7]

In [7]:
y= df.iloc[:,7]

In [13]:
from imblearn.over_sampling import SMOTE,ADASYN

In [14]:
y.value_counts()

1    2396
0     603
Name: y, dtype: int64

In [15]:
smt = SMOTE()

In [18]:
x1,y1 = smt.fit_resample(x,y)

In [21]:
y1.value_counts()

1    2396
0    2396
Name: y, dtype: int64

In [29]:
x1.shape

(4792, 7)

In [24]:
ada = ADASYN()

In [26]:
x2,y2 = ada.fit_resample(x,y)

In [27]:
y2.value_counts()

0    2403
1    2396
Name: y, dtype: int64

In [28]:
x2.shape

(4799, 7)